<div class="container">
  <h1 class="main-header" style="padding-top: 15px; padding-bottom: 15px;">Historial de Compras</h1>
  <div class=" center overflow-auto reports-container d-flex center-block justify-content-center">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID Venta</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total Venta</th>
        <th scope="col">Ver Detalle</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sale of sales">
        <td scope="text-center col">{{sale.saleID}}</td>
        <td scope="text-center col">{{formatDate(sale.dateTime)}}</td>
        <td scope="text-center col">{{calcSaleTotal(sale.saleID)}}</td>
        <td scope="text-center col">
          <button class="btn btn-outline-warning" (click)="viewDetail(sale.saleID)">Detalle</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
