<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Carrito de Compras</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">{{cart.cartItems.length}} items</div>
                    </div>
                </div>
                <div *ngFor="let saleItem of cart.cartItems" class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="../../../assets/brand/vector/default-monochrome-black.svg">
                        </div>
                        <div class="col">
                            <div class="row">{{saleItem.productName}}</div>
                        </div>
                        <div class="col">
                            <button (click)="decreaseProductQuantity(saleItem)">-</button>
                            <a class="border">{{saleItem.quantity}}</a>
                            <button (click)="increaseProductQuantity(saleItem)">+</button>
                        </div>
                        <div class="col">$ {{saleItem.currentPrice * saleItem.quantity}} COP <span
                             class="close">&#10005;{{saleItem.quantity}}</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Resumen</b></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">{{cart.cartItems.length}} items</div>
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL</div>
                    <div class="col text-right">$ {{getCartTotal()}}</div>
                </div>
                <button *ngIf="cart.cartItems.length > 0" class="btn btn-outline-warning" (click)="goToCheckOut()">COMPRAR</button>
            </div>
        </div>
    </div>
</div>
