<fieldset disabled>
    <legend>UID y EAN no pueden ser modificados</legend>
    <div class="input-group mb-3">
        <span class="input-group-text">UID</span>
        <input type="text" class="form-control" [(ngModel)]="product.UID"placeholder="UID" aria-label="UID">
        <span class="input-group-text">EAN</span>
        <input type="text" class="form-control" [(ngModel)]="product.EAN"placeholder="Server" aria-label="Server">
    </div>
</fieldset>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Nombre</span>
    <input type="text" class="form-control" [(ngModel)]="product.name"placeholder="Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Precio</span>
    <input type="text" class="form-control" [(ngModel)]="product.price" placeholder="UID" aria-label="UID">
    <span class="input-group-text">Stock</span>
    <input type="text" class="form-control" [(ngModel)]="product.stock"placeholder="Server" aria-label="Server">
</div>

<div class="input-group">
    <span class="input-group-text">Descripcion</span>
    <textarea class="form-control" [(ngModel)]="product.description"aria-label="With textarea"></textarea>
</div>

<button (click)="saveProduct()">Guardar</button>
