.container {
  margin-top: 70px;
}

.card {
  background-color: #555768;
  padding: 1em;
}

.card-name {
  color: #f6bd60;
  text-align: center;
}

.card-price {
  color: #edf2f4;
  font-weight: bold;
}

.card-stock {
  font-size: 0.9em;
  color: #edf2f4;
  font-weight: bold;
}

.card-detail {
  color: #f6bd60;
}
