<div class="container-fluid text-center">
    <h1 class="header-admin">Administración OneBuilder</h1>
    <div class="overflow-auto reports-container d-flex center-block justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">EAN</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; trackBy:identify">
                    <td>{{product.EAN}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <button type="button" (click)="editProduct(product)">Editar</button>
                    </td>
                    <td>
                        <button type="button" (click)="deleteProduct(product.EAN)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h1 style="padding-top: 15px; padding-bottom: 15px;">Reporte de Ventas</h1>
    <div style ="margin-bottom : 200px;" class="overflow-auto reports-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Venta</th>
                    <th scope="col">ID Cliente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total Venta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sale of sales">
                    <td>{{sale.saleID}}</td>
                    <td>{{sale.clientID}}</td>
                    <td>{{sale.dateTime.toLocaleString()}}</td>
                    <td>{{calcSaleTotal(sale.saleID)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
