.main {
    background-color: #2b2d42;
    width: 100%

}

.container-fluid{
    padding: 40px 240px;
}

.main-hello {
    color: #f6bd60;
    font-weight: bold;
    font-size: 4.375em;
}

.main-paragraph {
    color: #edf2f4;
    font-size: 1.875em;
}

.main-product {
    width: 120%
}
